* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #f3eff5;
}

main {
    height: 100vh;
    position: relative;
   
}

nav {
    background-color: #503a5f;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: right;
}

nav>a {
    text-decoration: underline;
    text-decoration-color: #85619e;
    text-decoration-style: double;
    color: white;
    font-size: 1.2em;
    padding: 10px;

}

nav>a:hover {
    background-color: #1d1023;
    border-radius: 10px;
    transition: 1s;
}

section#icones{
    text-align: right;
}

section#icones img{
    width: 50px;
    height: 50px;
    margin: 12px;
    background-color: #aa66cc;
    border-radius: 50%;
    padding: 11px;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
    
}

section#icones img:hover {
    border: 2px solid rgba(255, 255, 255, 0.438);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.562);
    transition: transform .5s, border 1s;
}


section#frame{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 368px;
    width: 700px;
   background: url(../imagens/top.png);
    transform: translate(-50%, -50%)


}


iframe#if{
    position: relative;
    width: 800px;
    height: 408px;
}